/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}

/* Credibility status bar */
#status-div1{
	text-align:center;
}

#status-div2{
	text-align:center;
}

#status-div3{
	text-align:center;
}

#question-div{
	text-align: center;
}

#button-div{
	text-align:center;
	margin-top: 30px;
}

#btn-add-question {
    width: 240px;
  margin: 0 auto;
}


#form-div {align-content: center;
margin-left: 10px;
margin-right: 10px;}

.container-centered {text-align: center}

.table-responsive {margin-top: 30px}
