/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 10rem;
}

/* Center exprep logo on page and resize automatically */
.image-container {
  display: flex;
  justify-content: center;
}

/* Signin.css */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Signup.css */ 

/* Align text next to checkbox */
input[type="checkbox"] {
    display: inline-block;
    width: 15px;
    vertical-align: top;
}

.label-text {
  display: inline-block;
  width: 200px;
  word-break: break-all; 
}