<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Add Question ExPrep">
<meta name="author" content="Christopher Tunkel">
<!-- <link rel="icon" href="images/favicon.ico"> -->

<title>Add Question</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>


<!-- Angular and Bootstrap JS -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- 
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
	-->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>



<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
<script src="js/constants.js"></script>
<script src="js/authenticator.js"></script>
<script src="js/requestFactory.js"></script>
<script src="js/addQuestionCtrl.js"></script>

<!-- Bootstrap core CSS -->

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/navbar-footer.css" rel="stylesheet">
<link href="css/dashboard.css" rel="stylesheet">
</head>

<body ng-app="ExPrep" ng-controller="AddQuestionCtrl" ng-init="startup()">

<!-- Fixed Navbar with Brand logo, nav items and search form -->
	 <nav class="navbar navbar-inverse navbar-fixed-top">
	   <div class="container-fluid">
		 <div class="navbar-header">
			<a class="navbar-brand" href="#"><img src="images/exam preppar_logo_small.png" alt="ExPrep"></a>
		 </div>
		 <ul class="nav navbar-nav">
			<li><a href="dashboard.html">Dashboard</a></li>
			<li><a href="#">Explore</a></li>
			<li><a href="#">Meine Fragen</a></li>
			<li class="active"><a href="#">Frage hinzufügen</a></li>
			<li><a href="#">Optionen</a></li>
			<li><a href="login.html">Logout</a></li> <!-- TODO: logout funktion: token löschen/ ablaufen lassen -->
		 </ul>
		 <form class="navbar-form navbar-right">
		 <div class="input-group">
			<input type="text" class="form-control" placeholder="Fragen durchsuchen">
			<div class="input-group-btn">
			<button class="btn btn-default" type="submit">
				<i class="glyphicon glyphicon-search"></i>
			</button>
			</div>
		 </div>
		 </form>
	   </div>
	 </nav>


	<!-- Main jumbotron for account information and progress bar for credibility level -->
	<div class="jumbotron">
		<div class="container">
			<h1>FRAGE HINZUFÜGEN</h1>
		</div>
	</div>

	<!-- Add Question Formular -->
	<div id="form-div">
		<form>
			<div class="form-group">
				<label for="text"></label> <input type="text" class="form-control"
					placeholder="Fragentitel" ng-model="selected.Titel" id="frage">
				<label for="text"></label>

				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button"
						id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						{{selected.Modul}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li ng-repeat="modul in module"><a href="#"
							ng-click="selected.Modul = modul.Name">{{modul.Name}}</a></li>
						<li role="separator" class="divider"></li>
						<li>Neues Modul Anlegen</li>

					</ul>
				</div>

				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button"
						id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						{{selected.Dozent}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li ng-repeat="dozent in dozenten"><a href="#"
							ng-click="selected.Dozent = dozentenName($index)">{{dozentenName($index)}}</a></li>
						<li role="separator" class="divider"></li>
						<li>Neuen Dozenten Hinzufügen</li>

					</ul>
				</div>


				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button"
						id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						{{selected.Hochschule}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li ng-repeat="hochschule in hochschulen"><a href="#"
							ng-click="selected.Hochschule = hochschule.Name">{{hochschule.Name}}</a></li>
						<li role="separator" class="divider"></li>
						<li>Neue Hochschule Anlegen</li>

					</ul>
				</div>


				<label for="date"></label> <input class="form-control"
					placeholder="Datum" ng-model="selected.Datum" id="datum">
					
					
				<label for="text"></label> <input type="text" class="form-control"
					placeholder="Beschreibung" ng-model="selected.Beschreibung" id="frage">
				<label for="text"></label>
			</div>
		</form>




	</div>
	<!-- Submit Button Formular -->
	<div id="button-div">
		<button type="submit" id="btn-add-question"
			class="btn btn-primary btn-lg" ng-click="addFrage()">Frage
			hinzufügen &raquo;</button>
	</div>

	<hr>


		<footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; ExPrep 2017 - Bjarne Obst, Christopher Tunkel, Daniel
			Köhler</span>
      </div>
    </footer>

</body>
</html>
