<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Welcome Page ExPrep">
<meta name="author" content="Christopher Tunkel">
<!-- <link rel="icon" href="images/favicon.ico"> -->

<title>Dashboard</title>

<!-- Angular and Bootstrap JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-touch.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/authenticator.js"></script>
<script src="js/requestFactory.js"></script>
<script src="js/authCtrl.js"></script>
<script src="js/dashCtrl.js"></script>
<script src="js/navCtrl.js"></script>


<!-- Bootstrap core CSS & Angular Material CSS-->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/navbar-footer.css" rel="stylesheet">
<link href="css/dashboard.css" rel="stylesheet">

</head>

<body ng-app="ExPrep" ng-controller="DashCtrl" ng-init="startup()">



	<!-- Fixed Navbar with Brand logo, nav items and search form -->
	<nav class="navbar navbar-inverse navbar-fixed-top"
		ng-controller="NavCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img
					src="images/exam preppar_logo_small.png" alt="ExPrep"></a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Dashboard</a></li>
				<li><a href="explore.html">Explore</a></li>
				<li><a href="addQuestion.html">Frage hinzufügen</a></li>
				<li><a href="profile.html">Profil</a></li>
				<li><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="searchText"
						placeholder="Fragen durchsuchen">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"
							ng-click="newSearch()">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</nav>



	<!-- Main jumbotron for account information and progress bar for credibility level -->
	<div class="jumbotron">
		<div class="container">
			<h1>DEINE AKTUELLE CREDIBILITY</h1>
			<p></p>
			<div class="row">
				<div class="col-md-4" id="status-div1">
					<h2>{{userData[2].Level}}</h2>
					Level
				</div>
				<div class="col-md-4" id="status-div2">
					<h2>{{userData[2].Credibility}}</h2>
					Danke!
				</div>
				<div class="col-md-4" id="status-div3">
					<h2>{{userData[1].length}}</h2>
					Fragen
				</div>
			</div>
			<hr>

			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="70"
					aria-valuemin="0" aria-valuemax="100" style="width: 70%">
					<span class="sr-only">70% Complete</span>
				</div>
			</div>
		</div>
	</div>

	<!-- Add Question Button -->
	<div id="question-div">
		<h1>DEINE FRAGEN</h1>
		<div id="button-div">
			<p>
				<a class="btn btn-primary btn-lg" id="btn-add-question"
					href="addQuestion.html" role="button">Frage hinzufügen &raquo;</a>
			</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4" ng-repeat="frage in userData[1]">
				<h2>{{frage.Titel}}</h2>
				<p>{{frage.Beschreibung}}</p>
				<div class="row">
					<div class="col-md-7">
						<p>
							<a class="btn btn-sm btn-secondary"
								href="questionDetails.html?questionID={{frage.FragenID}}"
								role="button">Details anzeigen &raquo;</a>
						</p>
					</div>
					<div class="col-md-5">
						<p>
							{{frage.Likes}}x
							<button href="#" ng-show="frage.isLikeable"
								class="btn btn-sm btn-danger"
								ng-click="doQuestionLike(frage.FragenID)">
								Danke! <span class="glyphicon glyphicon-heart-empty"></span>
							</button>

							<button href="#" ng-show="!frage.isLikeable"
								class="btn btn-sm btn-danger"
								ng-click="doQuestionLike(frage.FragenID)" disabled>
								Danke! <span class="glyphicon glyphicon-heart-empty"></span>
							</button>
						</p>
					</div>
				</div>
			</div>

		</div>
		<!-- end of container -->

		<!-- Dialog -->
		<div style="visibility: hidden">
			<div class="md-dialog-container" id="hsDialog">
				<md-dialog layout-padding>
				<h2>Hochschule Auswählen</h2>
				<p>
					Wähle bitte deine Hochschule aus. <br /> <br />
					<md-autocomplete flex required md-selected-item="selectedHS"
						md-search-text="searchTextH"
						md-items="item in queryHS(searchTextH)" md-item-text="item.Name"
						placeholder="Bitte eine Hochschule eingeben." md-require-match
						md-floating-label="Hochschule auswählen"
						md-select-on-match="true" md-match-case-insensitive="true">
					<span md-highlight-text="searchText">{{item.Name}}</span> </md-autocomplete>
					
				<div id="button-div">
					<button id="btn-confirm-HS" class="btn btn-primary btn-lg"
						ng-click="confirmHS()">Bestätigen. &raquo;</button>
				</div>


				</p>

				</md-dialog>
			</div>
		</div>

	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; ExPrep 2017 - Bjarne Obst,
				Christopher Tunkel, Daniel Köhler</span>
		</div>
	</footer>
</body>
</html>
