<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Welcome Page ExPrep">
<meta name="author" content="Christopher Tunkel">
<!-- <link rel="icon" href="images/favicon.ico"> -->

<title>Explore</title>

<!-- Angular and Bootstrap JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-touch.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/authenticator.js"></script>
<script src="js/requestFactory.js"></script>
<script src="js/navCtrl.js"></script>
<script src="js/exploreCtrl.js"></script>


<!-- Stylesheets from Bootstrap and Angular-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/navbar-footer.css" rel="stylesheet">
<link href="css/dashboard.css" rel="stylesheet">

</head>

<body ng-app="ExPrep" ng-controller="ExploreCtrl" ng-init="startup()">



	<!-- Fixed Navbar with Brand logo, nav items and search form -->
	<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="dashboard.html"><img
					src="images/exam preppar_logo_small.png" alt="ExPrep"></a>
			</div>
			<ul class="nav navbar-nav">
				<li ><a href="dashboard.html">Dashboard</a></li>
				<li class="active"><a href="#">Explore</a></li>
				<li><a href="addQuestion.html">Frage hinzufügen</a></li>
				<li><a href="#">Profil</a></li>
				<li><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="searchText"
						placeholder="Fragen durchsuchen">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit" ng-click="newSearch()">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</nav>



	<!-- Main jumbotron for dropdown filter: modul, hochschule, dozent and input field for fulltextsearch -->
	<!-- TODO: Felder sind nicht verpflichtend auszufüllen -->
	<div class="jumbotron">
		<div class="container">
			<h1>EXPLORE</h1>
			<p></p>
			<form>
				<div class="form-group">
					<div class="row">
						<div class="col-md-4" id="status-div1">
							<md-autocomplete flex required
								md-selected-item="selected.Hochschule"
								md-search-text="searchTextH"
								md-items="item in queryHS(searchTextH)" md-item-text="item.Name"
								placeholder="Bitte eine Hochschule eingeben." md-require-match
								md-floating-label="Hochschule auswählen"
								md-selected-item-change="loadHSDozenten()"
								md-select-on-match="true" md-match-case-insensitive="true">
							<span md-highlight-text="searchText">{{item.Name}}</span> </md-autocomplete>
						</div>
						<div class="col-md-4" id="status-div2">
							<md-autocomplete flex required md-selected-item="selected.Dozent"
								md-search-text="searchTextD"
								md-items="item in queryD(searchTextD)"
								md-item-text="dozentenNameObj(item)"
								placeholder="Bitte einen Dozenten eingeben" md-require-match
								md-floating-label="Dozenten auswählen"
								md-selected-item-change="loadDModule()"
								md-select-on-match="true" md-match-case-insensitive="true">
							<span md-highlight-text="searchTextD">{{dozentenNameObj(item)}}</span>
							</md-autocomplete>
						</div>
						<div class="col-md-4" id="status-div3">
							<md-autocomplete flex required md-selected-item="selected.Modul"
								md-search-text="searchTextM"
								md-items="item in queryM(searchTextM)" md-item-text="item.Name"
								placeholder="Bitte ein Modul eingeben" md-require-match
								md-floating-label="Modul auswählen" md-select-on-match="true"
								md-match-case-insensitive="true"> <span
								md-highlight-text="searchTextM">{{item.Name}}</span> </md-autocomplete>
						</div>
					</div>
					<div class="input-group">
						<input type="text" class="form-control"
							placeholder="Fragen durchsuchen">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<!-- Example row of columns
     TODO: load question object dynamically -->
	<div class="container">
		<div class="row">
			<div class="col-md-4" ng-repeat="frage in fragen">
				<h2>{{frage.Titel}}</h2>
				<p>{{frage.Beschreibung}}</p>
				<div class="row">
					<div class="col-md-7">
						<p>
							<a class="btn btn-sm btn-secondary"
								href="questionDetails.html?questionID={{frage.FragenID}}"
								role="button">Details anzeigen &raquo;</a>
						</p>
					</div>
					<div class="col-md-5">
						<p>
							{{frage.Likes}}x
							<button href="#" ng-show="frage.isLikeable"
								class="btn btn-sm btn-danger"
								ng-click="doQuestionLike(frage.FragenID)">
								Danke! <span class="glyphicon glyphicon-heart-empty"></span>
							</button>

							<button href="#" ng-show="!frage.isLikeable"
								class="btn btn-sm btn-danger"
								ng-click="doQuestionLike(frage.FragenID)" disabled>
								Danke! <span class="glyphicon glyphicon-heart"></span>
							</button>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- end of example object row -->
	</div>
	<!-- end of container -->


	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; ExPrep 2017 - Bjarne Obst,
				Christopher Tunkel, Daniel Köhler</span>
		</div>
	</footer>

</body>
</html>
