<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Add Question ExPrep">
<meta name="author" content="Christopher Tunkel">
<!-- <link rel="icon" href="images/favicon.ico"> -->

<title>Profil</title>

<!-- Angular and Bootstrap JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-touch.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/authenticator.js"></script>
<script src="js/requestFactory.js"></script>
<script src="js/profileCtrl.js"></script>
<script src="js/navCtrl.js"></script>

<!-- Bootstrap core CSS & Angular Material CSS-->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.css"
	rel="stylesheet">



<!-- Custom styles for this template -->
<link href="css/navbar-footer.css" rel="stylesheet">
<link href="css/dashboard.css" rel="stylesheet">
</head>

<body ng-app="ExPrep" ng-controller="ProfileCtrl" ng-init="startup()">

	<!-- Fixed Navbar with Brand logo, nav items and search form -->
	<nav class="navbar navbar-inverse navbar-fixed-top"
		ng-controller="NavCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="dashboard.html"><img
					src="images/exam preppar_logo_small.png" alt="ExPrep"></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="dashboard.html">Dashboard</a></li>
				<li><a href="explore.html">Explore</a></li>
				<li><a href="#">Frage hinzufügen</a></li>
				<li class="active"><a href="profile.html">Profil</a></li>
				<li><a href="#" ng-click="logout()">Logout</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="searchText"
						placeholder="Fragen durchsuchen">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"
							ng-click="newSearch()">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
		<md-progress-linear ng-show="progActive()" md-mode="indeterminate"></md-progress-linear>
	</nav>


	<!-- Main jumbotron for account information and progress bar for credibility level -->
	<div class="jumbotron">
		<div class="container">
			<h1>DEIN PROFIL</h1>
		</div>
	</div>

	<div class="container" id="editableCont" ng-show="editable">
		<div id="form-div">
			<form name="signup" ng-submit="submit()">
				<h3 class="dark-grey">Registrierung</h3>

				<div class="form-group col-lg-6">
					<md-input-container class="md-block"> <label>
						Vorname</label> <input required name="Vorname" ng-model="data.Vorname"
						minlength="3" maxlength="30" />

					<div ng-messages="signup.Vorname.$error" role="alert">
						<div ng-message-exp="['required', 'minlength', 'maxlength']">
							Dein Name sollte zwischen 3 und 30 Zeichen lang sein.</div>
					</div>
					</md-input-container>
				</div>

				<div class="form-group col-lg-6">
					<md-input-container class="md-block"> <label>
						Name</label> <input required name="Name" ng-model="data.Name"
						minlength="3" maxlength="30" />

					<div ng-messages="signup.Name.$error" role="alert">
						<div ng-message-exp="['required', 'minlength', 'maxlength']">
							Dein Name sollte zwischen 3 und 30 Zeichen lang sein.</div>
					</div>
					</md-input-container>
				</div>

				<div class="form-group col-lg-6">
					<md-input-container class="md-block"> <label>
						Email</label> <input required type="email" name="Email"
						ng-model="data.Email" minlength="5" maxlength="100"
						ng-pattern="/^.+@.+\..+$/" />

					<div ng-messages="signup.Email.$error" role="alert">
						<div ng-message-exp="['required', 'minlength', 'maxlength']">
							Deine E-Mail Adresse sollte zwischen 5 und 100 Zeichen lang sein.</div>
						<div ng-message-exp="['pattern']">Bitte gib eine valide
							E-Mail Adresse an.</div>

					</div>
					</md-input-container>
				</div>

				<div class="form-group col-lg-6">
					<md-input-container class="md-block"> <label>
						Email</label> <input required type="email" name="EmailWied"
						ng-model="data.EmailWied" minlength="5" maxlength="100"
						ng-pattern="/^.+@.+\..+$/" />

					<div ng-messages="signup.EmailWied.$error" role="alert">
						<div ng-message-exp="['required', 'minlength', 'maxlength']">
							Deine E-Mail Adresse sollte zwischen 5 und 100 Zeichen lang sein.</div>
						<div ng-message-exp="['pattern']">Bitte gib eine valide
							E-Mail Adresse an.</div>
					</div>
					</md-input-container>
				</div>

				<div class="form-group col-lg-6">
					<md-autocomplete flex required md-selected-item="data.Hochschule"
						md-search-text="searchTextH"
						md-items="item in queryHS(searchTextH)" md-item-text="item.Name"
						placeholder="Bitte eine Hochschule eingeben." md-require-match
						md-floating-label="Hochschule auswählen" md-select-on-match="true"
						md-match-case-insensitive="true"> <span
						md-highlight-text="searchText">{{item.Name}}</span> </md-autocomplete>
				</div>



				<div class="form-group col-lg-3">
					<button type="submit" class="btn btn-success">Speichern</button>
				</div>



				<div class="form-group col-lg-3">
					<button class="btn btn-danger" ng-click="toggleEdit()">
						Abbrechen</button>
				</div>
			</form>
		</div>
	</div>

	<div class="container" id="notEditableCont" ng-show="!editable">
		<h3 class="dark-grey">Registrierung</h3>

		<div class="form-group col-lg-6">Vorname:
			{{userData[0].Vorname}}</div>

		<div class="form-group col-lg-6">Nachname: {{userData[0].Name}}</div>

		<div class="form-group col-lg-6">Email-Adresse:
			{{userData[0].Email}}</div>

		<div class="form-group col-lg-6"></div>

		<div class="form-group col-lg-6">Hochschule:
			{{userData[0].Hochschule}}</div>

		<div class="form-group col-lg-6">
			<div id="button-div">
				<p>
					<a class="btn btn-primary btn-lg" id="btn-toggle-question" href="#"
						role="button" ng-click="toggleEdit()">Profil Bearbeiten
						&raquo;</a>
				</p>
			</div>
		</div>

	</div>


	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; ExPrep 2017 - Bjarne Obst,
				Christopher Tunkel, Daniel Köhler</span>
		</div>
	</footer>
</body>
</html>
