<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Add Question ExPrep">
<meta name="author" content="Christopher Tunkel">
<!-- <link rel="icon" href="images/favicon.ico"> -->

<title>Question details</title>

<!-- Angular and Bootstrap JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-touch.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>


<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/authenticator.js"></script>
<script src="js/requestFactory.js"></script>
<script src="js/detailCtrl.js"></script>

<!-- Bootstrap core CSS & Angular Material CSS-->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.css"
	rel="stylesheet">



<!-- Custom styles for this template -->
<link href="css/navbar-footer.css" rel="stylesheet">
<link href="css/dashboard.css" rel="stylesheet">
</head>

<body ng-app="ExPrep" ng-controller="DetailCtrl" ng-init="startup()">
	<!-- > 

	<!-- Fixed Navbar with Brand logo, nav items and search form -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><img
					src="images/exam preppar_logo_small.png" alt="ExPrep"></a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="dashboard.html">Dashboard</a></li>
				<li><a href="#">Explore</a></li>
				<li><a href="#">Meine Fragen</a></li>
				<li class="active"><a href="#">Frage hinzufügen</a></li>
				<li><a href="#">Optionen</a></li>
				<li><a href="login.html">Logout</a></li>
				<!-- TODO: logout funktion: token löschen/ ablaufen lassen -->
			</ul>
			<form class="navbar-form navbar-right">
				<div class="input-group">
					<input type="text" class="form-control"
						placeholder="Fragen durchsuchen">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</nav>

	<!-- Main jumbotron for account information and progress bar for credibility level -->
	<div class="jumbotron">
		<div class="container">
			<h1>DETAILS ZUR FRAGE</h1>
		</div>
	</div>

	<div class="container">
		<h1>Titel der Frage: {{questionDetails[0].Fragendetails.Titel}}</h1>
		<table>
			<tr>
				<td>Beschreibung</td>
				<td>{{questionDetails[0].Fragendetails.Beschreibung}}</td>
			</tr>
			<tr>
				<td>Modul</td>
				<td>{{questionDetails[0].Fragendetails.Modul}}</td>
			</tr>
			<tr>
				<td>Professor</td>
				<td>{{questionDetails[0].Fragendetails.Dozent}}</td>
			</tr>
			<tr>
				<td>Hochschule</td>
				<td>{{questionDetails[0].Fragendetails.Hochschule}}</td>
			</tr>
		</table>
		<p>
			{{questionDetails[0].Fragendetails.Likes}}x
			<button ng-show="questionDetails[0].Fragendetails.isLikeable" href="#" class="btn btn-sm btn-danger"
				ng-click="doQuestionLike()">
				Danke! <span class="glyphicon glyphicon-heart-empty"></span>
			</button>
			
			<button ng-show="!questionDetails[0].Fragendetails.isLikeable" href="#" class="btn btn-sm btn-danger"
				ng-click="doQuestionLike()" disabled>
				Danke! <span class="glyphicon glyphicon-heart-empty"></span>
			</button>
		</p>



	</div>



	<a href="dashboard.html" class="btn btn-sm btn-danger">Zurück</a>


	<footer class="footer">
		<div class="container">
			<span class="text-muted">&copy; ExPrep 2017 - Bjarne Obst,
				Christopher Tunkel, Daniel Köhler</span>
		</div>
	</footer>

</body>
</html>
