<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>Registrieren bei ExPrep</title>

<!-- Angular and Bootstrap JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-touch.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/signupCtrl.js"></script>
<script src="js/requestFactory.js"></script>
<script src="js/authCtrl.js"></script>
<script src="js/authenticator.js"></script>

<!-- Bootstrap core CSS & Angular Material CSS-->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.css"
	rel="stylesheet">

<!-- Stylesheet for the file! -->
<link href="css/navbar-footer.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">


</head>
<body ng-app="ExPrep" ng-controller="SignupCtrl">



	<!-- Register Page  -->
	<div id="signupPage">
		<!-- Navbar containing Brand logo and Login Register Button -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="login.html"><img
						src="images/exam preppar_logo_small.png" alt="ExPrep"></a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="login.html">Anmelden</a></li>
					<li class="active"><a>Registrieren</a></li>
				</ul>
			</div>
		</nav>

		<!-- Content -->
		<div class="container-fluid" name="signup">
			<form name="signup" ng-submit="submit()">
				<section class="container">
					<div class="container-page">
						<div class="col-md-6">
							<h3 class="dark-grey">Registrierung</h3>

							<div class="form-group col-lg-6">
								<md-input-container class="md-block"> <label>
									Vorname</label> <input required name="Vorname" ng-model="data.Vorname"
									minlength="3" maxlength="30" />

								<div ng-messages="signup.Vorname.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength']">
										Dein Name sollte zwischen 3 und 30 Zeichen lang sein.</div>
								</div>
								</md-input-container>
							</div>

							<div class="form-group col-lg-6">
								<md-input-container class="md-block"> <label>
									Name</label> <input required name="Name" ng-model="data.Name"
									minlength="3" maxlength="30" />

								<div ng-messages="signup.Name.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength']">
										Dein Name sollte zwischen 3 und 30 Zeichen lang sein.</div>
								</div>
								</md-input-container>
							</div>

							<div class="form-group col-lg-6">
								<md-input-container class="md-block"> <label>
									Email</label> <input required type="email" name="Email"
									ng-model="data.Email" minlength="5" maxlength="100"
									ng-pattern="/^.+@.+\..+$/" />

								<div ng-messages="signup.Email.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength']">
										Deine E-Mail Adresse sollte zwischen 5 und 100 Zeichen lang
										sein.</div>
									<div ng-message-exp="['pattern']">Bitte gib eine valide
										E-Mail Adresse an.</div>

								</div>
								</md-input-container>
							</div>

							<div class="form-group col-lg-6">
								<md-input-container class="md-block"> <label>
									Email</label> <input required type="email" name="EmailWied"
									ng-model="data.EmailWied" minlength="5" maxlength="100"
									ng-pattern="/^.+@.+\..+$/" />

								<div ng-messages="signup.EmailWied.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength']">
										Deine E-Mail Adresse sollte zwischen 5 und 100 Zeichen lang
										sein.</div>
									<div ng-message-exp="['pattern']">Bitte gib eine valide
										E-Mail Adresse an.</div>
								</div>
								</md-input-container>
							</div>

							<div class="form-group col-lg-6">
							<md-input-container class="md-block"> <label>
									Passwort</label> <input required type="password" name="Passwort"
									ng-model="data.Pass" minlength="5" maxlength="25"
									 />

								<div ng-messages="signup.Passwort.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength']">
										Dein Passwort sollte zwischen 5 und 25 Zeichen lang sein.</div>
									</div>
								</md-input-container>
							</div>

							<div class="form-group col-lg-6">
								<md-input-container class="md-block"> <label>
									Passwort</label> <input required type="password" name="PasswortWied"
									ng-model="data.PassWied" minlength="5" maxlength="25"
									 />

								<div ng-messages="signup.PasswortWied.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength']">
										Dein Passwort sollte zwischen 5 und 25 Zeichen lang sein.</div>
									</div>
								</md-input-container>
							</div>


							<div class="col-sm-6">
								<input type="checkbox" class="checkbox" />Newsletter abonnieren
							</div>

						</div>

						<div class="col-md-6">
							<h3 class="dark-grey">Allgemeine Verhaltensrichtlinien</h3>
							<p>Alle Mitglieder sollten sich gegenseitig mit Respekt
								behandeln und stets freundlich und sachlich bleiben.</p>
							<p>Verwenden Sie unsere Dienste nicht, um gefährliche und
								illegale Handlungen zu fördern oder sich an illegalen
								Aktivitäten zu beteiligen.</p>
							<p>Es werden keine diskriminierenden, rassistischen,
								sexistischen, nationalsozialistischen, oder anderweitig
								anstößige Inhalte oder Beiträge auf unserer Plattform geduldet.
								Dasselbe gilt für Nicknamen mit derartigen Hintergründen.
								Sollten Sie auf Inhalte oder einen Nutzer stoßen, der Ihrer
								Meinung nach die hier vorstehend deklarierten Richtlinien
								verletzt, teilen Sie uns dies bitte mit.</p>
							<p>Durch das Klicken auf "Registrieren" bestätigen Sie, dass
								Sie die Richtlinien von ExPrep zur Kenntnis genommen haben und
								diese akzeptieren.</p>

							<div>
								<md-button type="submit">Submit</md-button>
							</div>
						</div>
					</div>
				</section>
			</form>
		</div>



	</div>
	<!--/.loginPage -->

	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<span class="text-muted">© 2017 ExPrep - Bjarne Obst,
				Christopher Tunkel, Daniel Köhler</span>
		</div>
	</footer>
</body>
</html>
